.SearchBar {
  display: flex;
  align-items: center;
  padding: 0 31px;
  gap: 19px;
  width: 100%;
  height: 60px;
  background-color: #ECECEC;
  border-radius: 30px;
  flex-grow: 1;
}

.SearchButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.SearchInput {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #757575;
}
